<div class="bg-gradient-celeste">
  <div class="container login">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-md-6 login-form-lef">
          <div class="p-5">
            <div class="ml-2 text-primary text-center main-title">
              <h1 class="h4 mb-4 text-color-white">AngelBot</h1>
            </div>
            <form class="user" [formGroup]="formGroup" (ngSubmit)="login()">
              <div class="form-group">
                <label class="ml-2"><span class="fa fa-user mx-2 text-primary"></span>Usuario</label>
                <input type="text" formControlName="username" class="form-control form-control-user"
                  placeholder="Ingresa su Usuario">
                <div class="form-text text-danger ml-2" *ngIf="usernameField.invalid && usernameField.touched">
                  <div *ngIf="usernameField.hasError('required')">
                    Por favor diligenciar su username
                  </div>
                  <div *ngIf="usernameField.hasError('minlength')">
                    Su usuario debe tener mínimo 4 caracteres
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="ml-2"><span class="fa fa-lock mx-2 text-primary"></span>Contraseña</label>
                <input type="password" formControlName="password" class="form-control form-control-user"
                  placeholder="Ingrese su contraseña">
                <div class="form-text text-danger ml-2" *ngIf="passwordField.invalid && passwordField.touched">
                  <div *ngIf="passwordField.hasError('required')">
                    Por favor diligenciar su contraseña
                  </div>
                  <div *ngIf="passwordField.hasError('minlength')">
                    Su contraseña debe tener mínimo 6 caracteres
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox small">
                  <input type="checkbox" class="custom-control-input" id="customCheck">
                  <label class="custom-control-label" for="customCheck">Recordar datos de sesión</label>
                </div>
              </div>
              <button type="submit" [disabled]="formGroup.invalid" class="btn btn-primary btn-user btn-block"
                (click)="homePage()">
                Ingresar
              </button>
            </form>
            <hr>
            <div class="text-center">
              <a class="small text-color-white">¿Olvidaste tu contraseña?</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-none d-lg-block login-image"></div>
      </div>
    </div>
  </div>
</div>
